@use "../../styles/partials/mixins" as *;

.character-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 280px;
  margin: 16px;
  gap: 1px;
  border: 2px solid black;
  background-color: black;

  @include tablet {
    flex-direction: row;
    height: 140px;
  }

  &__wrapper {
    height: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;

    @include tablet {
      width: 70%;
      height: 100%;
    }
  }

  &__item {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  &__input {
    flex-grow: 1;
  }

  &__label {
    width: 100%;
    border-top: 1px solid black;
    text-align: center;
    height: 20px;
    line-height: 20px;
  }
}
