@use "../../styles/partials/abstracts" as *;

.character-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 16px;
  gap: 1px;
  border: 2px solid $border-default;
  background-color: $border-default;

  @include tablet {
    flex-direction: row;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;

    @include tablet {
      width: 70%;
    }
  }
}
