@use "../../styles/partials/abstracts" as *;

.character-page {
  display: flex;
  flex-direction: column;
}

.page-row {
  display: flex;
  flex-direction: row;
  margin: 16px;
  gap: 16px;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 26%;
  border: 2px solid $border-default;
  gap: 2px;
  background-color: $border-default;
}
