@use "../../styles/partials/abstracts" as *;

.combat-attacks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 16px;
  gap: 1px;
  border: 2px solid $border-default;
  background-color: $border-default;

  &__row {
    display: flex;
    flex-direction: row;
    gap: 1px;
    background-color: $border-default;

    & > * {
      flex: 1 1;
      text-align: center;
      height: 30px;
      line-height: 30px;
      background-color: $primary-background;
    }
  }
}
