@use "../../../styles/partials/abstracts" as *;

.info-box {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  background-color: $primary-background;

  &__input {
    flex-grow: 1;
  }

  &__label {
    width: 100%;
    border-top: 1px solid $border-default;
    text-align: center;
    height: 20px;
    line-height: 20px;
  }
}
