@use "../../../styles/partials/abstracts" as *;

.info-box {
  flex: 1 1;
  min-height: 91px;
  display: flex;
  flex-direction: column;
  background-color: $border-default;
  gap: 1px;

  &__input {
    flex-grow: 1;
    text-align: center;
  }

  &__label {
    text-align: center;
    height: 20px;
    line-height: 20px;
    background-color: $primary-background;
  }

  &__copy {
    padding: 0 8px;
  }
}
