@use "../../../styles/partials/abstracts" as *;

.ability {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1px;
  border: 2px solid $border-default;
  background-color: $border-default;

  &__wrapper {
    flex-grow: 6;
    background-color: $primary-background;
  }
}
