@use "../../../styles/partials/abstracts" as *;

.ability {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1px;
  border: 2px solid $border-default;
  background-color: $border-default;
  height: 129px;

  &__container {
    width: 102px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: $border-default;
  }

  &__modifier {
    height: 62px;
    background-color: $primary-background;
  }

  &__score {
    min-height: 0;
  }

  &__wrapper {
    flex: 5;
    background-color: $primary-background;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: $border-default;
    line-height: 20px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    gap: 1px;
    background-color: $border-default;
  }

  &__checkbox {
    width: 11%;
    padding: 2px;
    background-color: $border-default;
    border: 2px solid $primary-background;
  }

  &__proficiency {
    width: 13%;
    text-align: center;
    background-color: $primary-background;
  }

  &__skill-name {
    flex: 1 1;
    padding-left: 8px;
    background-color: $primary-background;
  }
}
