@use "../../../styles/partials/abstracts" as *;

.ability {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1px;
  border: 2px solid $border-default;
  background-color: $border-default;
  height: 129px;

  &__wrapper {
    flex-grow: 6;
    background-color: $primary-background;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: $border-default;
    line-height: 20px;
  }

  &__item {
    background-color: $primary-background;
  }
}
