@use "../../../styles/partials/abstracts" as *;

.skill {
  display: flex;
  flex-direction: row;
  gap: 1px;
  background-color: $border-default;

  &__checkbox {
    width: 11%;
    padding: 2px;
    background-color: $border-default;
    border: 2px solid $primary-background;
  }

  &__proficiency {
    width: 13%;
    text-align: center;
    background-color: $primary-background;
  }

  &__name {
    flex: 1 1;
    padding-left: 8px;
    background-color: $primary-background;
  }
}
